<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main/home.css">
    <link rel="stylesheet" href="/css/product/style-carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>  
    <div class="contenedor">
        <%- include('../partials/header') %>
        <section class="main">
            <div id="completo-carrousel">
                <div class="carrousel" id="carrousel1">
                    <div class="imgcarr1" id="imgcarr1"> 
                        <img class="imgcar" src="images/carrousel/celulares.jpg" alt="" />
                    </div>
                    <div class="flechas">
                       <a href="#carrousel3">
                        <i class="fa-solid fa-chevron-left" style="color: #030303;"></i>
                       </a>
                      <a href="#carrousel2">
                     <i class="fa-solid fa-chevron-right" style="color: #000000;"></i> 
                      </a>
                    </div>
                </div>
                <div class="carrousel" id="carrousel2">
                    <div class="imgcarr2" id="imgcarr2"> 
                        <img class="imgcar" src="images/carrousel/impresora.jpeg" alt="" />
                    </div>
                    <div class="flechas">
                        <a href="#carrousel1">
                            <i class="fa-solid fa-chevron-left" style="color: #030303;"></i> 
                            </a>
                           <a href="#carrousel3">
                            <i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
                           </a>
                    </div>
                </div>
                <div class="carrousel" id="carrousel3">
                    <div class="imgcarr3" id="imgcarr3"> 
                        <img class="imgcar" src="images/carrousel/parlantes.jpeg" alt="" /> 
                    </div>
                    <div class="flechas">
                        <a href="#carrousel2">
                            <i class="fa-solid fa-chevron-left" style="color: #030303;"></i>
                            </a>
                           <a href="#carrousel1">
                            <i class="fa-solid fa-chevron-right" style="color: #000000;"></i>
                           </a>
                        </div>
                    </div>
                </div>
                <div id="puntoscarrousel">
                    <a href="#carrousel1"> ° </a>
                    <a href="#carrousel2"> ° </a>
                    <a href="#carrousel3"> ° </a>
                </div>
                </div>   
            </div>
        </section>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>