*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;   
}
.main {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
}

.contenedor { 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  width: 50%;
  border: 2px solid black;
  border-radius: 4px;
  padding-bottom: 50px;
  box-shadow: 0 0 5px #A066CB;

}


.controls{
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    color:white;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
}

.buttons {
    width: 100px;
    height: 40px;
    background: #017bab;
    border:none;
    color: white;
    margin-bottom: 16px;
    border-radius: 3px;
}

.form-login {
    width: 400px;
    height: 340px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #A066CB;
    box-shadow: 7px 13px 37px #000;
    color: white;   
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid  #A066CB;
    font-size: 20px;
    
}
.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
    
}

footer{
    box-sizing: border-box;
    padding: 5px;
    height: 15%;
    background-color: #1836B2;
    display: flex;
    justify-content: space-between;
}